:root {
    --white: #FFF;
    --black: #000;
    --font-color-base: #666;
    --font-color-dark: #212529;
    --font-color-light: #B0AEBE;
    --font-color-link: #57A6FF;
    --footer: #34314B;
    --footer-base: #2E2B45;
    --contrast: rgba(246, 248, 249, 0.8);
    --success: #64ECF5;
    --danger: #FF8B8D;
    --grad-1: #A1ECFF;
    --grad-2:#7DBCFF;

    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-25: 1.5625rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.325rem;
}

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}