body {
    background-image: url("../IMG_1721.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    position: relative;
    /*max-width: 900px;*/
    /*margin: auto;*/
    grid-template-areas:
    "nav nav"
    "header header"
    "welcome welcome"
    "footer footer";
    grid-template-rows: 60px auto auto auto;
    grid-template-columns: 1fr 3fr;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
}

header {
    grid-area: header;
    background-color: #2D2F31;
}

header > video {
    position: relative;
    bottom: 100px;
}

nav {
    grid-area: nav;
    background-color: #2D2F31;
    z-index: 1;
}

nav > ul > li { display: block; }

nav > ul > li > a {
    color: #C0C2C3;
    text-decoration: none;
}

/*ul {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    padding: 0;*/
/*}*/

/*ul > li {*/
/*    display: block;*/
/*}*/

.before-after-link {
    padding: 8px 20px 0 20px;
    font-family: 'Black Ops One', sans-serif;
}

.contact {
    padding: 21px 20px;
    font-family: 'Black Ops One', sans-serif;
    color: #FF4500;
    font-size: var(--size-18);
}

.contact-2 > a { color: #FF4500}

img[src*="iphone-logo"] {
    width: 130px;
    padding: 13px;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.desktop { position: relative; }

.mobile{ display: none; }

.info {
    grid-area: info;
    background-color: brown;
}

.welcome {
    grid-area: welcome;
    position: relative;
}

.welcome > h1 {
    padding: 60px 0;
    font-size: var(--size-40);
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
    color: #FF4500;
}

.welcome > p {
    text-align: left;
    padding: 0 20px 10px 20px;
    font-size: var(--size-18);
    font-weight: 600;
    text-indent: 50px;
    color: #FF4500;
}

.services {
    grid-area: services;
    background-color: orangered;
    position: relative;
    bottom: 150px;
}

.services > h1 {
    padding: 60px 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
}

.services, .before-after-area > h1 {
    padding: 100px 0 50px 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
}

.services, .before-after-area > div > h1 {
    padding: 60px 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
}

.services-container { padding-bottom: 40px; }

.services-container > p {
    text-align: left;
    padding: 0 20px 10px 20px;
    font-size: 18px;
    font-weight: 600;
    text-indent: 50px;
}

.before-after-area {
    grid-area: before-after-area;
    background-color: orangered;
    position: relative;
    bottom: 150px;
    padding-bottom: 150px;
}

/*div > ul { display: inline-block; }*/

/*div > ul.jobs {*/
/*    !*display: block;*!*/
/*    list-style-type: disc;*/
/*}*/

ul.jobs {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Home page */

.slideshow { padding: 50px 0; }

.slideshow > h1 {
    display: flex;
    justify-content: center;
    color: #FF4500;
    font-family: 'Black Ops One', sans-serif;
}

.w3-content {
    margin: auto;
    width: 90%;
}

img[src*="IMG_8742"], img[src*="IMG_8743"], img[src*="IMG_8744"] {
    border-radius: 10px;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
    top: 60%;
}

.w3-display-left {
    position: absolute;
    top: 50% !important;
    left: 25% !important;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right {
    position: absolute;
    top: 50% !important;
    right: 25% !important;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

/* End of Home page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Projects page */

.mySlides {
    width: 50% !important;
    margin: auto;
    border-radius: 10px;
}

img[src*="IMG_0544"], img[src*="IMG_6590"] {
    display: flex;
    position: relative;
    margin: 0;
    border-radius: 10px;
}

/* End of Projects page *?


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Before & After page */

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    text-align: left;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    text-decoration: none;
    font-weight: bold;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.active { color: #0275d8; }

.not-active { color: gray; }

.gallery {
    display: block;
    padding: 0 0 100px 0;
    margin: 0 auto;
}

.before-after {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.card-container { padding: 18px 20px 10px; }

.card {
    margin: 0 auto;
    padding: 15px 10px 0 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
}

.random-person-card {
    margin: 0 auto;
    padding: 15px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
}

.before, .after > h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
}

.before {
    /*display: grid;*/
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 50%);
}

.before > h3 {
    position: relative;
    overflow-wrap: initial;
    font-size: 2vw;
    padding: 6px;
}

.before-wrapper, .after-wrapper {
    display: grid;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

/*.after {*/
/*    display: grid;*/
/*    grid-template-rows: repeat(1, 1fr);*/
/*    grid-template-columns: repeat(2, 35%);*/
/*    justify-content: center;*/
/*    padding-top: 60px;*/
/*    border: solid 2px white;*/
/*}*/

.after > h3 {
    position: relative;
    text-align: left;
    top: 250px;
    left: 300px;
    width: 10%;
    overflow-wrap: initial;
    font-size: 40px;
}

.random {
    font-size: 30px;
    padding: 6px;
}

.photo {
    display: flex;
    position: relative;
    border-radius: 10px;
}


/* End of Gallery page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Animals page */

/*img[src*="IMG_1136"], img[src*="IMG_2798"] {*/
/*    display: flex;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*}*/



/* Start of Oakley page */

.oakley {
    grid-area: welcome;
    /* background-color: orangered; */
    position: relative;
    /* bottom: 150px; */
}

.oakley > h1 {
    padding: 60px 0 20px 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
    color: #FF4500;
}

.oakley > p {
    padding: 0 0 60px 0;
    text-align: center;
    font-size: var(--size-30);
    font-family: 'Black Ops One', sans-serif;
    color: #FF4500;
}

.oakley-card {
    padding: 15px 10px 15px 10px;
}

/* End of Oakley page */


/* End of Animals page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Moon & Sunset page */

/*img[src*="IMG_1010"], img[src*="IMG_1871"], img[src*="IMG_2026"], img[src*="IMG_2030"] {*/
/*    display: flex;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*}*/





/* End of Moon & Sunset page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Nature page */

    /*~~~~~~~~~~~~~~~~~~~*/
    /* Start of Insects page */



    /* End of Insects page */
    /*~~~~~~~~~~~~~~~~~~~*/
    /* Start of Plants page */


    /* End of Plants page
    /*~~~~~~~~~~~~~~~~~~~*/

    /* End of Nature page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Random Objects */

/*img[src*="IMG_2085"] {*/
/*    display: flex;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*}*/



/* End of Random Objects */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Random People page */

/*img[src*="IMG_1961"], img[src*="IMG_1729"] {*/
/*    display: flex;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*}*/



/* End of Random People page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Structures page */

/*img[src*="IMG_1039"], img[src*="IMG_090E"] {*/
/*    display: flex;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*}*/




/* End of Structures page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Contact page */

.contact> h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
}

.contact-2 {
    padding: 60px 0;
    font-size: 18px;
    text-align: center;
}

.contact-2 > .email {
    color: var(--white)
}

.contact-2 > .tel { color: var(--white) }


/* End of Contact page */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Footer */

footer {
    grid-area: footer;
    background-color: #2F2F2F;
}

.bg-footer {
    position: relative;
    /*bottom: 80px;*/
}

/*footer.bg-footer { background-color: var(--footer); }*/

/*footer .footer-bottom { background-color: var(--footer-base); }*/

footer .footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--size-50);
    /*padding: var(--size-50) 0;*/
    padding-top: 60px;
}

footer .footer-col {
    justify-self: center;
    max-width: 269px;
}

.footer-top h4 {
    color: var(--white);
    font-weight: 500;
    margin-bottom: var(--size-16);
    font-size: var(--size-18);
}

.footer-top h5 {
    color: var(--white);
    font-weight: 500;
    margin-bottom: var(--size-16);
    font-size: var(--size-14);
}

.inside {
    position: relative;
    left: 30px;
}

.contact-info li {
    display: flex;
    color: var(--white);
    margin-bottom: var(--size-14);
}

.contact-info li i { padding-right: var(--size-10); }

.contact-info > ul { display: initial; }

.social-icons ul li {
    display: inline-block;
    width: 20px;
    height: 30px;
    margin: 13px;
}

.icons {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right: var(--size-10);
}

.phone {
    text-decoration: none;
    color: var(--white);
}

.services-wrapper p {
    color: #858497;
    line-height: var(--size-20);
}

.services-wrapper h5 { margin-bottom: 5px; }

.recent-posts {
    display: flex;
    margin-bottom: var(--size-16);
}

.recent-posts .post-img-wrapper {
    width: var(--size-100);
    margin-right: var(--size-10);
}

.post-inner h6 {
    margin: 0;
    line-height: var(--size-20);
}

.post-inner h6 a {
    color: var(--white);
    font-weight: 600;
    margin-right: -9.375rem;
    font-size: 0.75rem;
    line-height: var(--size-16);
}

.post-inner span {
    color: var(--font-color-light);
    font-size: var(--size-10);
}

.footer-bottom {
    padding: var(--size-16) 0;
    text-align: center;
}

.footer-bottom-wrapper {
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 6px; }

.developer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    /*right: 12px;*/
    text-decoration: none;
    color: #FF4500;
}

.developer > span { color: white; }

.developer > .dev {
    pointer-events: initial;
    color: #FF4500;
}

.copyright p { color: var(--white); }

/*.footer-bottom-links {*/
/*  margin-top: var(--size-10);*/
/*  padding-left: 10px;*/
/*}*/

.footer-bottom-links ul li {
    display: inline-block;
    margin-right: var(--size-10);
    color: var(--white);
}

.footer-bottom-links ul li a { color: var(--white); }

img[src*="mail"] {
    display: initial;
    position: relative;
    right: 4px;
    bottom: 4px;
}

.email {
    text-decoration: none;
    color: var(--white);
}

img[src*="mobile"] {
    display: initial;
    position: relative;
    right: 4px;
    bottom: 4px;
}

.tel {
    text-decoration: none;
    color: white;
}

img[src*="DOC"] {
    display: initial;
    position: relative;
    width: 3%;
}

/* End of Footer */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Start of Scroll-top section */

.arrow {
    display: inline-block;
    width: 70%;
}

#scrollUp {
    background-color: transparent;
    background-image: linear-gradient(
            90deg, #9ccdfe 0%, #94aafd 100%);
    color: var(--white);
    font-size: var(--size-20);
    height: var(--size-30);
    width: var(--size-30);
    line-height: var(--size-25);
    position: fixed;
    bottom: var(--size-18);
    right: var(--size-30);
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
}

/* End of Scroll-Top section */

